@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mulish:wght@200;600&family=Roboto:ital,wght@0,500;1,300&display=swap");

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: large;
  color: rgb(0, 0, 0);
}

footer {
  background-color: rgb(7, 177, 193);
}
